// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'

.page
  @extend .fade-transition

.text-muted{color:#636c72!important}
.bg-white{background-color: white}
  #markdownPreview > hr{
    margin: 20px 0px;
  }
